<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <!-- alias begin -->
    <bean id="hello" class="com.demon.spring.learn.HelloAlias">
        <property name="content" value="hello alias" />
    </bean>
    <alias name="hello" alias="alias-hello"/>
    <alias name="alias-hello" alias="alias-alias-hello"/>
    <!-- alias end -->
    
    <!-- FactoryBean begin -->
    <bean id="helloFactory" class="com.demon.spring.learn.HelloFactoryBean" />
    <!-- FactoryBean end -->
    
    <!-- 工厂模式 begin -->
    <bean id="staticCar" class="com.demon.spring.learn.CarFactory" factory-method="getCarStatic"/>
    
    <bean id="carFactory" class="com.demon.spring.learn.CarFactory"/>
    <bean id="nonStaticCar" factory-bean="carFactory" factory-method="getCar"/>
    <!-- 工厂模式 end -->
    
    <!-- lookup-method begin -->
    <bean id="news" class="com.demon.spring.learn.lookup_method.News" scope="prototype"/>
    <bean id="newsProvider" class="com.demon.spring.learn.lookup_method.NewsProvider">
        <property name="news" ref="news" />
    </bean>
    
    <bean id="newsProviderByAware" class="com.demon.spring.learn.lookup_method.NewsProviderByAware">
        <property name="news" ref="news" />
    </bean>
    
    <bean id="newsProviderByLookupMethod" class="com.demon.spring.learn.lookup_method.NewsProvider">
        <lookup-method name="getNews" bean="news"/>
    </bean>
    <!-- lookup-method end -->
    
    <bean class="com.demon.spring.learn.LoggerBeanPostProcessor" />

    <bean class="com.demon.spring.learn.BeanCallback" init-method="init1" destroy-method="destroy1" />

    <!-- <import resource="spring_bak.xml"/> -->

</beans>